.container {
  margin: 50px;
}

.typebox {
  height: 35px;
  width: 98px;
  display: inline-block;
  background: #65B356;
  margin-bottom: -12px;
  color: white;
  text-align: center;
  position: absolute;
}

.button {
  background: #65B356;
  padding: 10px;
  width: 30px;
  color: white;
}

.multiply, .divide, .add, .subtract {
  background: #83C178;
}
